@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@300;400;500&display=swap');

h1, h2, h3{
    font-family:'Lato'  ;
}
body {
    font-family:'Roboto';
    line-height: 1.5;
}