$backgroundColor :  #ffffff;
$backgroundLeiding: #B0E1BB;

$linkColor: #053F41;
$buttonTextColor:white;
$buttonHoverColor: #053F41;
$buttonBorderColor: #053F41;
$textHoverColor:white;
$bgFooter: #053F41;

$buttonTakColor:  #F39A18;
$buttonEvenementColor: #FF6523;

$fontsizeH1Mobile: 170%;
$fontsizeH2Mobile: 130%;



