.footer{
    background-color: $bgFooter ;
    margin-top: 30px;
    padding-top:15px ;
    display: flex;

    &__mobile{
        display: flex;
        margin-left: 5%;
        width: 80%;
        margin: auto;
        
        &__img{
            height: fit-content;
            margin-top: 30px;
        }
        &__text{
            margin-bottom: 20px;
            color:white;
            margin-left: 5%;

            &__span{
                color: gray;
                
            }
            &__link{
                color: white;
            
            }       
        }
    }

    &__desc{
        display: none;
    }

  
}
.footer a{
    color: white;
}

.privacy{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    a{
        color: gray;
        font-size: 80%;
    }
}

@media screen and (min-width: 1024px) {
    
   .footer{
    &__mobile{
        margin-left: 10%;
    }
    &__desc{
        width: 50%;
        margin-top: 20px;
        margin-right: 10%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        color: gray;

        &__takken{
            width: 50%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            column-gap: 20px;

            &__title{
            grid-column: span 2;
            margin-bottom: -40px;
            }
        }

        }
        
       
    }

    .privacy{
        justify-content: space-around;
    }
}