
.contentInfo {
    &__img {
      display: none;
    }
  }

  @media screen and (min-width: 1024px) {
    .contentInfo {
        display: grid;
        grid-template-columns: 60% 40%;
        overflow: hidden;
        &__img {
          display: block;
          width: 200%;
          margin-top: 30%;
        }
      }
  }